*{
    font-family: 'Source Sans Pro', sans-serif;
}


.stuff-container{
    text-align:center;
}

.result-container{
    text-align:center;
}
a:link{
    text-decoration:none;
    color:black;
}

h1{
    text-align:center;
    color:red;
}

input{
    width:40em;
}

button{
    color:white;
    border:none;
    background-color:red;
    cursor:pointer;
}

ul{
    list-style:none;
    display:block;
}